---
layout: null
sitemap: false
---

$body-background-color: #f8f6f4;

$content-max-width: 800px;
$content-color: #41414d;
$content-background-color: #fff ;

$brand-colour: #41414d;
$brand-colour-light: mix($brand-colour, $content-background-color, 10%);

$nav-header-background-color: $brand-colour;
$nav-header-height: 60px;
$nav-background-color: #f8f6f4;
$nav-width: 300px;

$space: 20px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";


#top-button{
    position:fixed;
position: fixed;

bottom: 25px;

right: 25px;

z-index: 9;

font-size: 25px;

background-color: rgba(255,255,255,.3);

padding: 5px;

border-radius: 5px;

color: #41414d;
}
